<div style="float:left;margin-left:30%;">
 
<h1> Submitted Assignments</h1>

<table class="hovertable">
  
  <tr>
    <th>Assignment Answers</th>
    <th>Student</th>
    <%if is_admin?%>
    <th>Actions</th>
    <%end%>
    <th colspan="2"></th>
    </tr>


<% @submitted_assignments.each do |assignment| %>
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
   <%# @cour =Course.where(:id=>assignment.course_id).first.course_name %>
  </tr>
   <%@stud = Student.where(:id =>assignment.student_id).first.first_name%>
    <%#= debug assignment.attach.url %>
    <td><a href="<%= assignment.attach.url %>" target="_blank">Download</a></td>
    <td><%= @stud%> </td>
    <td><%#=!@cour.nil? ? @cour :'Nil'%></td>
    
    <td><%#= assignment.end_date %></td>
    <td><%#= link_to 'Answer', new_submitted_assignment_path(assignment)%></td>
    <%if is_admin?%>
    <td><%= link_to 'Edit', edit_submitted_assignment_path(assignment) %></td>
    <td><%= link_to 'Delete', submitted_assignment_path(assignment),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<% end %>
</table>
</div>
<style type="text/css">
table.hovertable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
}
table.hovertable th {
  background-color:#c3dde0;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}
table.hovertable tr {
  background-color:#d4e3e5;
}
table.hovertable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}
</style>
<!-- Table goes in the document BODY -->