

<h1>Welcome to CLIMB</h1>

<% if user_signed_in? %>
  <% if is_student? %>
    <%if no_student_detail?%>
    <%=link_to 'Create Profile', new_student_path%><br>
  
  <% elsif is_trainer?%>
  <% if no_trainer_detail?%>
  <%=link_to 'Create Profile', new_trainer_path%><br>
  <%end%>
 <% end %>
  <% end %>
  <%end%>




